#game-lobbie {
    display: none;
    border: 3px solid black;
    border-radius: 25px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: #826e6e;
    font-weight: bold;
    font-size: 25px ;
    font-family: Arial;
    font-size: 25px;
    box-shadow: 3px 3px 7px grey;
    width: 300px;
    color: white;
}

#game-lobbie h3 {
    padding: 10px;
    border-bottom: 3px solid black;
}

#msg {
    padding-top: 10px;
}

#exit-multiplayer-waiting-lobby {
    cursor: pointer;
    margin-top: 10px;
    border-top: 3px solid black;
    padding: 10px;
}

/*Loading dots*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 60px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

#correct-multiplayer {
  display: none;
}

#correct-multiplayer-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(to bottom right, #e0e0d1, white,  #999966);
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 1px 3px 5px grey;
  min-width: 200px;
}

#correct-multiplayer-popup p {
  padding: 0 auto;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(to bottom right, #e0e0d1, grey);
  border-radius: 30px;
  border: 1px solid black;
}

#correct-multiplayer-popup p:hover {
  background: linear-gradient(to bottom right, #e0e0d1, white);
}

#correct-multiplayer-popup h2 {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

#multiplayer-next-stage-popup {
    display: none;
}

#multiplayer-next-stage {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    text-align: center;
    background: linear-gradient(to bottom right, #e0e0d1, white,  #999966);
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 1px 3px 5px grey;
    font-size: 13px;   
}

#multiplayer-next-stage-popup h2 {
    border-bottom: 3px solid black;
}

#votes {
    display: inline-block;
}

.vote {
    float: left;
    margin: 5px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
     background: linear-gradient(to bottom right, #99ccff, #3399ff, blue);
     color: white;
     width: 32px;
}

.vote:hover {
    cursor: pointer;
     background: linear-gradient(to bottom right, #3399ff, #3399ff, blue);

}

.vote:active {
     background: linear-gradient(to bottom right, black, #3399ff, blue);
     color: grey;
}

.player-choice {
    display: inline-block;
    margin: 5px;
}

.choice {
    border: 1px solid black;
    background-color: white;
    width: 10px;
    height: 10px;
    margin: 0 auto;
}

.choice-yes {
    background-color: green;
}

.choice-no {
    background-color: red;
}

#player-left {
    display: none;
    color: white;
}

#player-left-popup {
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom right, #e0e0d1, white,  #999966);
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 1px 3px 5px grey;
    width: 230px;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    font-size:  22px;
}

#player-left-info {
    color: black;
}

#player-left-exit-to-menu {
  cursor: pointer;
  font-weight: bold;
  background: rgba(100,100,100,0.7);
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  display: inline-block;
  padding: 10px;
}

#player-left-popup img {
    display: block;
    width:60px;
    height:60px;
    margin: 0 auto;
    padding: 10px;
}

#waiting-screen {
    display: none;
    color: white;
}

#waiting-screen h1 {
    text-align: center;
    margin-top: 58%;
}

#multiplayer-finished-popup {
    display: none;
}

#multiplayer-finished {
    position: absolute;
    padding: 10px;
    margin-top: -100px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    text-align: center;
    background: linear-gradient(to bottom right, #e0e0d1, white,  #999966);
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 1px 3px 5px grey;
}

#close-multiplayer {
    background: linear-gradient(to bottom right, red, grey);
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
    display: inline-block;
    padding: 10px;
}

#close-multiplayer:hover {
    background: linear-gradient(to top right, red, red, white);
}

#close-multiplayer:active {
    background: linear-gradient(to top right, #800000, #800000, grey);
}